body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    background-color: orange;
    font-size: 144px;
}

.block {
    background-color: pink;
    color: black;
    width: 30%;
    margin: auto;
}